doctype html
html(lang='pt')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Clientes
    |     
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN', crossorigin='anonymous')
    |     
    link(rel='stylesheet', href='css/style.css')
    |     
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')
    |     
    script(defer='', src='https://code.jquery.com/jquery-3.7.0.js')
    |     
    script(defer='', src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js')
    |     
    script(defer='', src='https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js')
    |     
    script(defer='', src='js/script.js')
  body
    section#line-01
      .container
        .row
          .col
            img(src='img/logo.png', width='160px', height='100px')
          |                 
          .col-10
    |     
    section#line-02
      div(style='width: 1300px; display: flex;')
        .container.c1
          ul.list-group
            li.list-group-item.bg-light
              a(href='/')
                i.bi.bi-person-fill
                |                             CLIENTES
            |                     
            li.list-group-item
              a(href='withdrawn')
                i.bi.bi-box-arrow-in-up-right
                |                             RETIRADOS
            |                     
            li.list-group-item
              a(href='received')
                i.bi.bi-cloud-arrow-down-fill
                |                             RECEBIDOS
            |                     
            li.list-group-item
              a(href='stock')
                i.bi.bi-box-seam-fill
                |  EM
                |                             ESTOQUE
            |                     
            li.list-group-item
              a(href='balance')
                i.bi.bi-coin
                |                             BALAN&Ccedil;O
        |             
        .container.c2
          p.fs-1.text-center Lista de Clientes
          |                 
          .container.text-center(style='margin-bottom: 50px;')
            button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#modalWindow')
              i.bi.bi-person-plus-fill
              |  NOVO CLIENTE
          |                 
          div
            table#clientTable.table.table-striped.table-borderless.text-center(style='width:100%')
              thead
                tr
                  th(scope='col') Nome
                  |                                 
                  th(scope='col') CPF
                  |                                 
                  th(scope='col') Cidade
                  |                                 
                  th(scope='col') Telefone
                  |                                 
                  th
              |                         
              tbody
                each client in (clients.data || clients)
                    tr
                    td(scope='row')= client.name
                    |                                 
                    td= client.identification_number
                    |                                 
                    td= client.city
                    |                                 
                    td= client.phone
                    |                                 
                    td
                        button.btn.btn-link(type='button', data-bs-toggle='modal', data-bs-target='#modalClient', style='padding: 0;') Ver mais
                
          |                 
          #modalWindow.modal.fade(style='margin-top: 20px;')
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h3.modal-title NOVO CLIENTE
                  |                                 
                  button.btnm.btn-close(type='button', data-bs-dismiss='modal')
                |                             
                .modal-body
                  form(method='post', action='/client')
                    .row(style='margin-bottom: 20px;')
                      .col
                        label.form-label(for='modalName') Nome
                        |                                             
                        input#modalName.form-control(type='text', required='', name='name')
                      |                                         
                      .col
                        label.form-label(for='modalLastName') Sobrenome
                        |                                             
                        input#modalLastName.form-control(type='text', required='', name='surname')
                    |                                     
                    .row(style='margin-bottom: 20px;', name='surname')
                      .col
                        label.form-label(for='modalCPF') CPF / CNPJ
                        |                                             
                        input#modalCPF.form-control(type='text', required='', name='identification_number')
                      |                                         
                      .col
                        label.form-label(for='modalRef') Refer&ecirc;ncia
                        |                                             
                        input#modalRef.form-control(type='tel', placeholder='Empresa / Firma / Autonomo', required='', name='reference')
                    |                                     
                    .row(style='margin-bottom: 50px;')
                      .col
                        label.form-label(for='modalTel') Telefone
                        |                                             
                        input#modalTel.form-control(type='tel', placeholder='(00) 0 0000-0000', required='', name='phone')
                      |                                         
                      .col
                        label.form-label(for='modalEmail') E-mail
                        |                                             
                        input#modalEmail.form-control(type='email', name='email')
                    |                                     
                    .row(style='margin-bottom: 20px;')
                      .col
                        label.form-label(for='modalCEP') CEP
                        |                                             
                        input#modalCEP.form-control(type='text', placeholder='00000-000', pattern='[0-9]{8}', required='', name='cep')
                      |                                         
                      .col
                        label.form-label(for='modalCity') Cidade
                        |                                             
                        input#modalCity.form-control(type='text', name='city')
                    |                                     
                    .row(style='margin-bottom: 50px;')
                      .col
                        label.form-label(for='modalAdress') Endere&ccedil;o
                        |                                             
                        input#modalAdress.form-control(type='tel', placeholder='R. Das angustias, Bairro', required='', name='address')
                      |                                         
                      .col-3
                        label.form-label(for='modalAdressNumber') N&uacute;mero
                        |                                             
                        input#modalAdressNumber.form-control(type='tel', required='', name="building_number")
                    |                                     
                    .container.text-center
                      button.btn.btn-primary(type='submit') CADASTRAR CLIENTE
          |                 
          #modalClient.modal.fade(style='margin-top: 20px;')
            .modal-dialog
              .modal-content
                .modal-header
                  p.modal-title.fs-4
                    | INFORMA&Ccedil;&Otilde;ES DO CLIENTE
                  p
                    button.btnm.btn-close(type='button', data-bs-dismiss='modal')
                |                             
                .modal-body
                  div(style='margin-bottom: 30px;')
                    .row
                      .col.fs-5 Joao P. Fagundes
                    |                                     
                    .row
                      .col Refer&ecirc;ncia
                    |                                     
                    .row
                      .col 057.441.020-19
                  |                                 
                  div(style='margin-bottom: 30px;')
                    .row
                      .col.fs-5 Endere&ccedil;o
                    |                                     
                    .row
                      .col R. das angustias, Bairro, Cidade, 88990-000
                  |                                 
                  div(style='margin-bottom: 30px;')
                    .row
                      .col.fs-5 Contato
                    |                                     
                    .row
                      .col
                        a(href='#') (51) 994397413
                      |                                         
                      .col teste.cliente@gmail.com
                  |                                 
                  button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#modalClientEdit')
                    i.bi.bi-person-plus-fill
                    |                                     EDITAR
                  |                                 
                  |                                 
                  button.btn.btn-danger(type='submit') EXCLUIR CLIENTE
          |                 
          #modalClientEdit.modal.fade(style='margin-top: 20px;')
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h3.modal-title EDITAR CLIENTE
                  |                                 
                  button.btnm.btn-close(type='button', data-bs-dismiss='modal')
                |                             
                .modal-body
                  form
                    .row(style='margin-bottom: 20px;')
                      .col
                        label.form-label(for='modalName') Nome
                        |                                             
                        input#modalName.form-control(type='text', required='')
                      |                                         
                      .col
                        label.form-label(for='modalLastName') Sobrenome
                        |                                             
                        input#modalLastName.form-control(type='text', required='')
                    |                                     
                    .row(style='margin-bottom: 20px;')
                      .col
                        label.form-label(for='modalCPF') CPF / CNPJ
                        |                                             
                        input#modalCPF.form-control(type='text', required='')
                      |                                         
                      .col
                        label.form-label(for='modalRef') Refer&ecirc;ncia
                        |                                             
                        input#modalRef.form-control(type='tel', placeholder='Empresa / Firma / Autonomo', required='')
                    |                                     
                    .row(style='margin-bottom: 50px;')
                      .col
                        label.form-label(for='modalTel') Telefone
                        |                                             
                        input#modalTel.form-control(type='tel', placeholder='(00) 0 0000-0000', required='')
                      |                                         
                      .col
                        label.form-label(for='modalEmail') E-mail
                        |                                             
                        input#modalEmail.form-control(type='email')
                    |                                     
                    .row(style='margin-bottom: 20px;')
                      .col
                        label.form-label(for='modalCEP') CEP
                        |                                             
                        input#modalCEP.form-control(type='text', placeholder='00000-000', pattern='[0-9]{8}', required='')
                      |                                         
                      .col
                        label.form-label(for='modalCity') Cidade
                        |                                             
                        input#modalCity.form-control(type='text')
                    |                                     
                    .row(style='margin-bottom: 50px;')
                      .col
                        label.form-label(for='modalAdress') Endere&ccedil;o
                        |                                             
                        input#modalAdress.form-control(type='tel', placeholder='R. Das angustias, Bairro', required='')
                      |                                         
                      .col-3
                        label.form-label(for='modalAdressNumber') N&uacute;mero
                        |                                             
                        input#modalAdressNumber.form-control(type='tel', required='')
                    |                                     
                    .container.text-center
                      button.btn.btn-primary(type='submit') SALVAR
    |     
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL', crossorigin='anonymous')
