<div class="container c1">
    <ul class="list-group">
        <li class="list-group-item bg-light"><a href="/"><i class="bi bi-person-fill"></i>
                CLIENTES</a></li>
        <li class="list-group-item"><a href="/withdrawn/ontime"><i class="bi bi-box-arrow-in-up-right"></i>
                RETIRADOS</a></li>
        <li class="list-group-item"><a href="/received"><i class="bi bi-cloud-arrow-down-fill"></i>
                RECEBIDOS</a></li>
        <li class="list-group-item"><a href="/stock"><i class="bi bi-box-seam-fill"></i> EM
                ESTOQUE</a></li>
        <li class="list-group-item"><a href="/balance"><i class="bi bi-coin"></i>
                BALANÇO</a></li>
    </ul>
</div>