<aside class="aside-menu">
        <img src="/img/logo-remove-bg.png" width="160px" height="100px">
        <ul class="list-group">
                <li>
                        <a href="/">
                                <i class="bi bi-person-fill"></i>CLIENTES
                        </a>
                </li>
                <li>
                        <a href="/withdrawn/ontime">
                                <i class="bi bi-box-arrow-in-up-right"></i>
                                RETIRADOS
                        </a>
                </li>
                <li>
                        <a href="/received">
                                <i class="bi bi-cloud-arrow-down-fill"></i>
                                RECEBIDOS
                        </a>
                </li>
                <li>
                        <a href="/stock">
                                <i class="bi bi-box-seam-fill"></i> EM
                                ESTOQUE
                        </a>
                </li>
                <!-- <li>
                        <a href="/balance">
                                <i class="bi bi-coin"></i>
                                BALANÇO
                        </a>
                </li> -->
        </ul>
</aside>